@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/*---NavBar---*/

img {
    width: 50%;
    height:100%;
}

/*---Background Image---*/

body, html {
    height: 100%;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/background.png");
  height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.658);
}

/*---Buttons---*/

#coverButton {
    color:white;
}

/*---Lead Paragraphs---*/

.lead{
    text-align: center;
}

/*---Client Reviews---*/

#clientReview{
    background-color: rgba(36, 33, 33, 0.26);
    text-align: center;
}

#reviewContent{
    padding-top: 15px;
    padding-bottom: 15px;
}

strong{
    color: blue;
}

#joinNow{
    margin-bottom: 20px;
}


/*---Media Queries---*/

@media (max-width: 992px){

}
@media (max-width: 768px){
    
}
@media (max-width: 576px){
    
}
